@{
    ViewData["Title"] = "Autorzy";
}
<div class="container mt-5 mb-5">
    <div class="row text-start">
        <div class="col-12 mb-2">
            <h2>Autorzy Projektu na Programowanie Zaawansowane</h2>
        </div>
        <div class="col-12">
            <p>NewsFeed - platforma informacyjna z pełnymi możliwościami zarządzania treścią. Wstępnie zoptymalizowana dla urządzeń mobilnych</p>
        </div>
        <div class="col-12">Dominik Jakobsze</div>
        <div class="col-12">Mikołaj Stankiewicz</div>
    </div>
</div>