@{
    ViewData["IsAdmin"] = true;
}
@{
    var Komentarz = ViewBag.Komentarz;
}

<div class="container text-center mt-5 mb-5">
    <h1>Usuń Komentarz</h1>
</div>

<div class="container mt-5 pt-5">
    <form action="/Admin/Comments/Delete/@Komentarz.Id" method="post">
        <button type="submit" class="btn btn-primary mt-5">Usuń</button>
    </form>
</div>